@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Chivo+Mono:wght@100&family=Fredoka+One&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    height: 100vh;
    background-image:url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    overflow: hidden;
}

i {
	position: absolute;
	height: 5px;
    border-radius: 50px 50px 50px 50px;
	background: linear-gradient(transparent, #fff);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	animation: animate 5s linear infinite;
}

i:nth-child(3n + 1) {
	background: linear-gradient(transparent, rgb(255, 255, 255));
    filter:drop-shadow(0 0 10px #ffffff); 
}

i:nth-child(3n + 2) {
	background: linear-gradient(transparent, rgb(255, 255, 255));
    filter:drop-shadow(0 0 10px #ffffff); 
}

i:nth-child(3n + 3) {
	background: linear-gradient(transparent, rgb(255, 255, 255));
    filter:drop-shadow(0 0 10px #ffffff); 
}

@keyframes animate {
	0% {
		transform: translateY(-200px);
	}
	100% {
		transform: translateY(calc(100vh + 200px));
	}
}
.one{
	position: absolute;
	right: 290px;
	top: 100px;
	font-family: 'BhuTuka Expanded One', cursive;
	font-family: 'Chivo Mono', monospace;
	font-family: 'Fredoka One', cursive;
	color:#e0a2a2;
	-webkit-text-stroke: 1.5px #efe4d1;
    text-stroke: 1.5px #edc3c3;
    filter:drop-shadow(0 0 10px #edc3c3) 
	
}
.word{
	position: absolute;
	right: 200px;
	top: 200px;
	color:#fff;
	background-color: rgba(242, 194, 202,0.4);
	filter:drop-shadow(0 0 10px #df9393) 
	
}
img{
	position: absolute;
	bottom: -130px;
	right: 800px;
}
.heart{
    position: relative;
    height: 150px;
    animation-name: MoveToRight;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
	filter:drop-shadow(0 0 10px #d25353) 
}
@keyframes MoveToRight{
    from {top: 0;}
    to{top:150%;}
}
.heart2{
    position: relative;
    height: 150px;
    animation-name: MoveToRight2;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
	filter:drop-shadow(0 0 10px #d25353) 
}
@keyframes MoveToRight2{
    from {top: 100%;}
    to{top: -50%;}
}